body {
  height: 100vh;
  width: 100vw;
}

#root {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  align-self: stretch;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.ant-menu-title-content {
  max-width: 70px;
  text-align: left;
  text-indent: 12px;
}

.ant-menu-item {
  border-left:  0px solid rgba(255, 255, 255, 0) !important;
  overflow: hidden;
}

#body[layout="dashboard"] .ant-menu-item-selected,
#body[layout="hybrid"] .ant-menu-item-selected {
    border-color:  white !important;
    border-radius: 7px !important;
}

#body[layout="desktop"] .ant-menu-item-selected {
  border-color:  white !important;
}

.ant-breadcrumb-item, .ant-breadcrumb-separator {
  color: #00000070 !important;
}

#body[layout="dashboard"] [data-menu-id="rc-menu-uuid-System"],
#body[layout="hybrid"]  [data-menu-id="rc-menu-uuid-System"] {
    position: absolute !important;
    bottom: 0px !important;
}

#body[layout="desktop"] [data-menu-id="rc-menu-uuid-System"] {
  margin-left: auto !important;
}

/* width */
::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--scrollbar-color, '#888'); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}